@font-face {
  font-family: sahel;
  src: url(fonts/sahel/Sahel.woff);
}
@font-face {
  font-family: sahel-FD;
  src: url(fonts/sahel/FD/Sahel-FD.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sahel, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
}
.sr-only {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 10000px;
}
.container {
  padding: 0 2.5rem;
}
footer {
  color: #bebebe;
  background-color: #2e3840;
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  margin-top: 3.5rem;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: sahel, "Open Sans", sans-serif;
}
.footer ul li {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #bebebe;
}
.footer a:hover {
  color: #bebebe;
}
.f-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
}
footer h2 {
  margin: 0;
  padding: 0;
  font-family: sahel, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #cdd5e5;
  font-weight: 600;
  margin-bottom: 0.6rem;
  letter-spacing: 1.5px;
}
.nummer {
  font-family: sahel-FD;
}
.f-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.f-contact div:first-child {
  width: 55%;
}
.f-contact div:last-child {
  width: 45%;
}
.f-copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 1rem 0;
}
.f-social {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  .f-contact {
    flex-direction: column;
  }
  .f-contact div:first-child {
    width: 100%;
  }
  .f-contact div:last-child {
    width: 100%;
  }
  .f-links {
    flex-direction: column;
  }
  .container {
    padding: 0 15px;
  }
}

/*  1024x768  */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
    min-width: 1000px;
  }
}
/*  1280x768 | 1256x768*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    min-width: 1200px;
  }
}
/*  1366x768  */
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1300px;
    min-width: 1300px;
  }
}
/*  1420x768  */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    min-width: 1400px;
  }
}
